:root{
  --w0: #FFFFFF;
  --g1: #595959;
  --g2: #202020;
  --g3: #000000;
  --b1: #274862;
  --b2: #031320;
  --r1: #995052;
  --r2: #310405;
  --y1: #e6b33d;
  --o1: #d96831;
}

h1,
h2,
h3,
p,
ul{
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
  color: inherit;
}

ul{
  list-style: none;
}

img{
  display: block;
  max-width: 100%;
}